@import "tailwindcss";
*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

@media only screen and (max-width: 600px) {
  .card {
    /* display: flex; */
    height: 200px;
    width: 180px;
     
  }
  .card img{
    height: 150px;
  }
}
