* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  height: 500px;
  width: full;
  font-weight: bolder;
  overflow: hidden;
  background-image: url("./assets/Hacker.png");
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: optimizeQuality;
  background-size: cover;
}
.header h1 {
  position: absolute;
  top: 100p;
  font-size: 20px;
  color: white;
  z-index: 1000;
}

.container {
  height:3em;
  font-weight: bold;
  font-size: large;
  position: fixed;
  display: flex;
  list-style: none;
  width: 100vw;
  /* justify-content: space-between; */
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  box-shadow: rgb(8, 144, 207) 2px 2px 2px 2px;
  
}
.container .search{
   width:30vw;
   padding: 10px;
   font-style: italic;
   font-size:1rem;
   text-decoration: solid;
   font-weight: bold;
   outline: none;
 

}
.search:hover{
  outline: auto;
  transition: ease;
  transition-delay: 0.18s;

}
.container .logo {
  margin-left: 5rem;
}
.container .items {
  display: flex;
  margin-right: 5em;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  /* background-color:skyblue; */
  padding: 10px; 
  /* color: white; */
}
 

.home {
  background-color: rgb(156, 156, 222);
  min-height: 300px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer {
  background-color: gray;
  height: 200px;
}

.card {
  padding: 10px;
  height: 200px;
  width: 10em;
  display: flex;
  flex-direction: column;
  background-color: aqua;
  align-items: center;
}
.home .card:hover {
  background-color: rgb(41, 179, 179);
  transition: ease-in-out;
  transition-duration: 0.2.8s;
  border-radius: 9px;
  box-shadow: rgb(122, 7, 167) 1px 2px 1px;
}
.card .img {
  height: 79%;
  width: full;
  padding: 2px;

  display: flex;
  justify-items: center;
  align-items: center;
}

.card .list {
  margin-top: 10px;
  height: 19%;
  width: full;
  display: flex;
  flex-direction: row;
  /* justify-content:space-evenly; */
  align-items: center;
}


 